/* Estilos generales */
body {
	font-family: sans-serif;
	margin: 0;
	background-color: #f4f4f4;
	color: #333;
}

/* Encabezado */
header {
	background-color: #0077b6;
	color: white;
	padding: 1em;
	text-align: center;
}

/* Navegación */
nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 1em;
	padding: 0;
	margin: 0;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

/* Contenido principal */
main{
	max-width: 800px;
	margin: 2em auto;
	padding: 1em;
	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Presentación del blog */

.presentacion .contenendor {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2em;
	max-width: 1000px;
	margin: auto;
	padding: 2em;
	flex-wrap: wrap;
}

.foto {
	width: 250px;
	height: auto;
	border-radius: 10px;
	flex-shrink: 0;
	object-fit: cover;
	display: block;
}

/* no usado 
.presentacion .foto img {
	width: 250px;
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	display: block;
} */

.texto-presentacion {
	flex: 1;
	min-width: 250px;
	max-width: 600px;
}

/* Artículos */
article {
	margin-bottom: 2em;
}

article h2 {
	color: #0077b6;
}

article p {
	text-align: justify;
	line-height: 1.6;
	font-size: 1.1em;
}
/* Botón */
button {
	background-color: #0077b6;
	color: white;
	border: none;
	padding: 0.5em 1em;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: #023e8a;
}

/* Pie de página */
footer {
	background-color: #0077b6;
	color: white;
	text-align: center;
	padding: 1em;
	margin-top: 2em;

}
